body {
  font-family: "Fira Sans", sans-serif;
  padding: 0.5em 2em;
  text-align: center;
}

input[type="text"] {
  font-size: 1em;
  padding: 1em;
  border: 1px solid #f1f1f1;
  color: rgba(3, 27, 78, 0.7);
  border-radius: 5px;
  width: 100%;
}

.output {
  display: inline-block;
  margin-top: 1em;
  color: hsl(0, 0%, 40%);
}
